<%#
    カテゴリー
    include('parts/_category', {path: ''})
%>

<% var category = ['野菜', '果物', '肉類', '卵類', '魚介類', '酒類', 'お茶類', '米・穀類', 'はちみつ', '加工食品・調味料', '花・植物']; %>
<% category.forEach(function (value, index) { %>
<li class="main_cat_item js_main_cat_item">
  <!-- 大カテゴリー -->
  <div class="main_cat_inner">
    <!-- 【sys】大カテゴリー名 -->
    <span class="cat_name"><%= value %></span>
    <i class="fas fa-angle-down icon_arrow" aria-hidden="true"></i>
  </div>
  <!-- /大カテゴリー -->

  <!-- 小カテゴリー -->
  <div class="sub_cat_inner">
    <ul class="sub_cat">
      <!-- 【sys】小カテゴリー名 -->
      <% if(value === '野菜') { %>
      <% var ary1 = ['野菜すべて', '野菜セット', '根菜類', '芋類', '葉物類', '果菜・サラダ野菜', 'きのこ類', 'もやし・豆類', '薬味野菜類', 'その他野菜類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '果物') { %>
      <% var ary1 = ['果物すべて', '果物セット', 'りんご', 'みかん・柑橘類', '梨', 'メロン', 'ぶどう・マスカット', 'いちご', '柿', '桃', 'マンゴー', 'スイカ', 'その他果物類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '肉類') { %>
      <% var ary1 = ['肉類すべて', '牛肉', '豚肉', '鶏肉', 'その他肉類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '卵類') { %>
      <% var ary1 = ['卵類すべて', '鶏卵', 'その他卵類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '魚介類') { %>
      <% var ary1 = ['魚介類すべて', '魚介セット', '魚', 'エビ・カニ', '貝類', '海藻類', 'その他魚介類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '酒類') { %>
      <% var ary1 = ['酒類すべて', '焼酎', '日本酒', 'ビール', 'ワイン', 'その他酒類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === 'お茶類') { %>
      <% var ary1 = ['お茶類すべて', '日本茶', '紅茶', '烏龍茶', 'ほうじ茶', 'ハーブティー', 'その他お茶類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '米・穀類') { %>
      <% var ary1 = ['米・穀類すべて', '白米', '玄米', '麦', 'もち米', 'ハーブティー', 'その他米・穀類']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === 'はちみつ') { %>
      <% var ary1 = ['はちみつ']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '加工食品・調味料') { %>
      <% var ary1 = ['加工食品・調味料すべて', '食肉加工品', 'チーズ', '粉物', 'ジャム', 'ジュース', 'みそ・しょうゆなど', 'その他調味料', 'その他乳製品', 'その他菓子類', 'その他加工食品']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } else if(value === '花・植物') { %>
      <% var ary1 = ['花・植物']; %>
      <% ary1.forEach(function (value, index) { %>
      <!-- 【sys】選択中のカテゴリにis_activeクラスを付与 -->
      <li class="sub_cat_item">
        <a href="search-index.html" class="sub_cat_inner">
          <span class="sub_cat_name"><%= value %></span>
          <div class="sub_cat_countWrap">
            <span class="count">99</span>
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
      <% }) %>
      <% } %>
    </ul>
  </div>
  <!-- /小カテゴリー -->
</li>
<% }); %>